<!--Header-->
<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxShow="true"
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span class="header-text">My Fusion</span>
    <span class="spacerUser"></span>
    

      <button class="user-div" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon class="user-icon">account_circle</mat-icon>
      </button>
      <mat-menu  #menu="matMenu" >
        <button class="mat-menu-item" mat-menu-item>
          <mat-icon>security icon</mat-icon>
          <span>Alterar Senha</span>
        </button>
        <button mat-menu-item (click)="logout();">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<!--MENU-->
<mat-sidenav-container fxFlexFill class="container">
  <mat-sidenav class="sidenav" #sidenav mode="side" opened>
    <mat-nav-list>
      <a (click)="sidenav.toggle()" routerLink="" mat-list-item>
        <mat-icon>home</mat-icon>
        Home
      </a>

      <a (click)="sidenav.toggle()" routerLink="/usuarios" mat-list-item>
        <mat-icon>group</mat-icon>
        Usuarios</a
      >
      <a href="#" mat-list-item>
        <mat-icon>paid</mat-icon>
        Repasse Médico
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!--Corpo NAV-->
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
