.spacer {
    padding: 0.3rem;
}

.toggle-buttom {
    display: flex;
    min-width: 35px;
    min-height: 35px;
}


.header-text {
    color: white;
}

.header {
    --background-color: midnightblue;
    background-image: linear-gradient(to right top, #011764, #021771, #07177d, #10168a, #1a1396);
    height: 10%;
}

.container {
    height: 85%;
  
    
}



i {
    padding-right: 0.6rem;
}


.toggle-menu {
    top: 0;
    width: 100%;
    display: flexbox;
    bottom: 0;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    width: 100vh;
}

.user-div{
    
    min-width: 0px;
    position:absolute;
    right: 70px;
}

.user-icon{
    transform: scale(1.4);
}

.mat-menu-item{
    align-items: center;
}
