<!--Header-->
<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <button
      mat-icon-button
      (click)="sidenav.toggle()"
      fxShow="true"
      fxHide.gt-sm
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>
    <span class="header-text">My Fusion</span>
    <span class="spacerUser"></span> 

    <! --- USUARIO AVATAR --->
      <button class="user-div" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon class="user-icon">account_circle</mat-icon>
      </button>
      <mat-menu  #menu="matMenu">
        <div class="mat-menu-item" style="pointer-events: none; color: green;padding-top: 0;" >
          <mat-icon style="color: green;">person</mat-icon>
          <span>Usuario: {{usuarioLogado?.nome}}</span>
        </div>     
        <mat-divider></mat-divider>
        <button class="mat-menu-item" mat-menu-item>
          <mat-icon>security icon</mat-icon>
          <span>Alterar Senha</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="logout();">
          <mat-icon>power_settings_new</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>

<!--MENU-->

<mat-sidenav-container fxFlexFill class="container">
  
  
  <mat-sidenav class="sidenav" #sidenav mode="side" opened>

    <!--INICIO TAB-->
    <mat-tab-group animationDuration="0ms">
      <!--PRIMEIRO TAB MENU-->
      <mat-tab label="Menu" class="tab-menu">
    
    <mat-nav-list>
      <mat-list-item *ngIf="verificaMenu(0);" (click)="sidenav.toggle()" routerLink="" mat-list-item>
        <mat-icon>home</mat-icon>
        <span class="menu-span"> 
        Home
      </span>
      </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item *ngIf="verificaMenu(2);" (click)="sidenav.toggle()" routerLink="/usuarios" mat-list-item>
        <mat-icon>group</mat-icon>
        <span class="menu-span"> 
        Usuarios</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item *ngIf="verificaMenu(1);" href="#" mat-list-item>
        <mat-icon>paid</mat-icon>
        <span class="menu-span">
        Repasse Médico
      </span>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item *ngIf="verificaMenu(0);" (click)="sidenav.toggle()" routerLink="/perfis" mat-list-item>
      <mat-icon>recent_actors</mat-icon>
      <span class="menu-span"> 
      Perfis
    </span>
    </mat-list-item>

  <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-tab>
  <!--SEGUNDA LABEL TAB PERFIS-->
    <mat-tab label="Perfis">
      <mat-selection-list #shoes [multiple]="false">
        <mat-list-option  >

        </mat-list-option>
      </mat-selection-list>
      
      <p>
        Option selected: {{shoes.selectedOptions.selected[0]?.value}}
      </p>
    </mat-tab>
  </mat-tab-group>
  </mat-sidenav>
  

  <!--Corpo NAV-->
  <mat-sidenav-content fxFlexFill>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>


<app-footer></app-footer>