.content {
    width: 90%;
    margin: 1.4rem auto auto;
}

.title {
    text-align: center;
    margin-bottom: 3rem;
}

.title h1 {
    font-size: 2rem;
    color: black;
    font-weight: 500;
}


.criarUsuario {
    color: white;
    background-image: linear-gradient(to right top, #011764, #021771, #07177d, #10168a, #1a1396);
    margin-bottom: 1rem;
}

.table {
    width: 100%;
    
}

.perfil {
    color: midnightblue;
    margin-left: 0.5rem;
}


.edit {
    color: midnightblue;
}

.delete {
    color: rgb(228, 35, 35);
    margin-left: 0.5rem;
}
.mat-header {
    width: 5rem;
}

.mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: midnightblue;
    background-image: linear-gradient(to right top, #5376ff, #5376ff, #5376ff, #5376ff, #5376ff);
  }