@media(max-width: 450px){
    .home{
        width: 70%;
    }
}

@media(max-width: 770px){
    .home{
        width: 90%;
    }
}

.title{
    text-align: center;
}

.mat-card-header{
    display: block;
}

.subtitle{
    padding-top: 1rem;
}

.mat-card {
    width: 20%;
    margin: 1.5rem auto auto 5rem;
    min-height: 200px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}